/*******\
| Admin |
\*******/

// Navbar
$navbar-height: 50px;
$navbar-background-color: #383838;
$navbar-text-color: #FFF;
$navbar-link-hover-color: #AAA;

// Navbar Members
$expand-sidebar-icon-size: 20px;
$username-font-size: 16px;

// Sidebar
$sidebar-width: 150px;
$sidebar-button-height: 50px;
$sidebar-icon-size: $expand-sidebar-icon-size;
$sidebar-background-color: $navbar-background-color;
$sidebar-button-color: $sidebar-background-color;
$sidebar-button-hover-color: #282828;
$sidebar-button-border-color: #000;
$sidebar-icon-color: $navbar-text-color;

// Footer
$footer-height: 50px;
$footer-text-color: $navbar-text-color;

// Dropdown
$dropdown-background-color: #484848;
$dropdown-text-color: $navbar-text-color;
$dropdown-hover-background-color: $sidebar-button-hover-color;
$dropdown-hover-text-color: $navbar-text-color;
$scrollable-dropdown-height: 250px;

/**********************
 *       Global       *
 *********************/

/**********
 * Header *
 **********/
header {
  @extend .full-size;
  position: fixed;
  height: $navbar-height;
  padding: 15px;
  z-index: 1001;
  text-align: center;
  border-bottom: 1px solid $sidebar-button-border-color;
  background-color: $navbar-background-color;
  color: $navbar-text-color;
}

header {
    > a {
      @extend .color-transition;
      color: $navbar-text-color;
    }

    > a:hover, > a:active, > a:focus {
      @extend .color-transition;
      color: $navbar-link-hover-color;
    }
}

.username {
  @extend .float-right;
  font-size: $username-font-size;
}


.expand-sidebar {
  @extend .float-left;
  font-size: $expand-sidebar-icon-size;
}

/********
 * Body *
 ********/
.loading-screen {
  display: none !important;
}

.wrapper-admin-panel {
  @extend .full-size-important;
  display: block !important;
}

.wrapper {
  @extend .full-size-important;
  @extend .full-transition;
  padding-top: $navbar-height;
  padding-left: $sidebar-width;
}

.wrapper-hidden {
  @extend .full-transition;
  padding-left: 0;
}

main {
  @extend .full-size;
  margin-bottom: -$footer-height;
}

.dropdown-menu {
  @extend .full-transition;
  background-color: $dropdown-background-color;

  > li {
    text-align: left;

    > a {
      @extend .full-transition;
      color: $dropdown-text-color;
    }

    > a:hover {
      @extend .full-transition;
      background-color: $dropdown-hover-background-color;
      color: $dropdown-hover-text-color;
    }
  }
}

.dropdown-selected {
  background-color: $dropdown-hover-background-color;
  color: $dropdown-hover-text-color;
}

.scrollable-menu {
    height: auto;
    max-height: $scrollable-dropdown-height;
    overflow-x: hidden;
}

/***********
 * Sidebar *
 ***********/
.sidebar {
  @extend .full-transition;
  position: fixed;
  top: $navbar-height;
  width: $sidebar-width;
  height: 100%;
  border-right: 1px solid $sidebar-button-border-color;
  z-index: 1000;
  background-color: $sidebar-background-color;
}

.sidebar-hidden {
  @extend .full-transition;
  width: 0;
  border: 0;
}

nav {
  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;

    a {
      > li {
        padding: 5px;
        border: none;
        background-color: none;
        color: $sidebar-icon-color;
      }
    }
  }
}

.sidebar-button {
  @extend .full-transition;
  width: $sidebar-width;
  height: $sidebar-button-height;
  display: inline-block;
  border-bottom: 1px solid $sidebar-button-border-color;

}

.sidebar-button:hover {
  @extend .full-transition;
  background-color: $sidebar-button-hover-color;
}

.sidebar-button-text {
  line-height: $sidebar-button-height - 10;
  vertical-align: middle;
}

.sidebar-icon {
  @extend .float-left;
  padding-left: 10px;
  line-height: $sidebar-button-height - 10;
  vertical-align: middle;
  font-size: $sidebar-icon-size;
}

/**********
 * Footer *
 **********/

footer {
  height: $footer-height;
  padding: 0 10px;
  line-height: $footer-height;
  vertical-align: middle;
  background-color: $sidebar-background-color;
  color: $footer-text-color;
  overflow-y: hidden;
}

/*************************************
 *            Script Edit            *
 *************************************/
$editor-controls-width: 50px;
$editor-controls-height: 250px;
$editor-controls-background-color: $sidebar-background-color;
$editor-controls-button-size: $editor-controls-width - 10 - 1; // Padd. + Marg.
$editor-controls-button-color: $sidebar-icon-color;
$editor-controls-button-hover-color: $navbar-link-hover-color;

#editor {
  @extend .full-size;
  z-index: 999;
}

.editor-controls {
  position: fixed;
  top: 50%;
  right: 0;
  width: $editor-controls-width;
  height: $editor-controls-height;
  margin-top: -$editor-controls-height / 2;
  z-index: 1000;
  border: 1px solid $sidebar-button-border-color;
  border-right: 0;
  background-color: $sidebar-background-color;
}

.editor-controls-button-list {
  @extend .full-size;
  margin: 0;
  padding: 5px;
  list-style-type: none;
}

.editor-controls-button {
  @extend .color-transition;
  width: $editor-controls-button-size;
  height: $editor-controls-button-size;
  font-size: $editor-controls-button-size - 15;
  line-height: $editor-controls-button-size;
  text-align: center;
  vertical-align: middle;
  color: $editor-controls-button-color;

  > a {
    @extend .color-transition;
    color: $editor-controls-button-color;
  }

  > a:hover, > a:active, > a:focus {
    @extend .color-transition;
    color: $editor-controls-button-hover-color;
    text-decoration: none;
  }
}

.editor-controls-button:hover {
  @extend .color-transition;
  color: $editor-controls-button-hover-color;
}

.editor-controls-button-active {
  @extend .editor-controls-button:hover;
}

.fullscreen-main {
  margin-bottom: 0;
}
