{% extends 'head.html' %}
{% block ngapp %}ng-app="sovi"{% endblock %}
{% block title %}Admin{% endblock %}
{% block ngtitle %}ng-bind="title + ' - Sovi'"{% endblock %}
{% block header %}
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-route.js"></script>
  <script src="/static/js/ace/ace.js"></script>
  <script src="/static/js/app.js"></script>
{% endblock %}

{% block body %}
  <header>
    <a href="#" target="_self" ng-click="expandButton = !expandButton"
       ng-init="expandButton = true">
      <i class="fa fa-bars expand-sidebar"></i>
    </a>
    <span class="username">
      {{ user.first_name | capfirst }} 
      {{ user.last_name | capfirst | slice:":1" }}.
    </span>
  </header>

  <side class="sidebar" ng-class="{'sidebar-hidden': expandButton}">
    <nav ng-hide="expandButton">
      <ul>
        <a href="/">
          <li class="sidebar-button">
            <i class="fa fa-home sidebar-icon"></i>
            <span class="sidebar-button-text">Home</span>
          </li>
        </a>
        <a href="/script">
          <li class="sidebar-button">
            <i class="fa fa-edit sidebar-icon"></i>
            <span class="sidebar-button-text">Script Editor</span>
          </li>
        </a>
        <a href="/users/me/preferences">
          <li class="sidebar-button">
            <i class="fa fa-cog sidebar-icon"></i>
            <span class="sidebar-button-text">Preferences</span>
          </li>
        </a>
        <a target="_self" href="/users/logout">
          <li class="sidebar-button">
            <i class="fa fa-sign-out sidebar-icon"></i>
            <span class="sidebar-button-text">Sign Out</span>
          </li>
        </a>
      </ul>
    </nav>
  </side>

  <div class="wrapper" ng-class="{'wrapper-hidden': expandButton}">
    <main ng-view>
    </main>

    <footer>
      <p>Place Something Here...</p>
    </footer>
  </div>
{% endblock %}
