<!-- Django Magic; Not Angular -->
{% extends 'head.html' %}
{% block ngapp %}ng-app="sovi"{% endblock %}
{% block title %}Admin{% endblock %}
{% block ngtitle %}ng-bind="title + ' - Sovi'"{% endblock %}
{% block body %}
  <div class="loading-screen">
    <div class="spinner spinner-v-align">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>

  <div class="wrapper-admin-panel" ng-controller="AdminPanelUi">
    <side class="sidebar">
      <nav>
        <ul>
          <a href="/data">
            <li ui-route="/data(.)*" class="sidebar-button" 
            ng-class="{'sidebar-button-active': $uiRoute}">
              <i class="fa fa-database sidebar-icon"></i>
              <span class="sidebar-button-text">Data</span>
            </li>
          </a>
          <a href="/script">
            <li ui-route="/script" class="sidebar-button" 
              ng-class="{'sidebar-button-active': $uiRoute}">
              <i class="fa fa-code sidebar-icon"></i>
              <span class="sidebar-button-text">Script</span>
            </li>
          </a>
          <a href="/reports">
            <li ui-route="/reports" class="sidebar-button" 
              ng-class="{'sidebar-button-active': $uiRoute}">
              <i class="fa fa-bar-chart-o sidebar-icon"></i>
              <span class="sidebar-button-text">Reports</span>
            </li>
          </a>
          <a target="_self" href="/logout">
            <li class="sidebar-button">
              <i class="fa fa-sign-out sidebar-icon"></i>
              <span class="sidebar-button-text">Sign Out</span>
            </li>
          </a>
        </ul>
      </nav>
    </side>

    <div class="wrapper" ng-class="{'wrapper-sidebar-hidden': sidebarHidden}">
      <div ng-show="showSpinner" class="spinner spinner-v-align">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
      <header>
        <a>
          <i ng-click="toggleSidebar()" class="fa fa-bars expand-sidebar"></i>
        </a>
        <span class="username">
          {{ user.first_name | capfirst }} 
          {{ user.last_name | capfirst | slice:":1" }}.
        </span>
      </header>
      <main ng-view>
      </main>
      <footer>
        <p>Place Something Here...</p>
      </footer>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular-route.js"></script>
  <!-- Templates Here -->
 <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'> <script src="/static/app.js"></script>
{% endblock %}
