{% extends 'head.html' %}

{% block title %}Log in{% endblock %}

{% block body %}
  <div class="container-fluid login-container">
    <div class="row quarter-page">
    </div>

    <div class="row">
      <h1 class="text-center">Log In</h1>

      <form action="." method="post">
        {% csrf_token %}

        {% if form.errors %}
        <div class="text-center alert alert-danger">
          Your username or password is incorrect.
        </div>
        {% endif %}

        <div class="form-group">
          <label>Username:</label>
          <input type="text" class="form-control" name="username" autofocus="true" 
                 placeholder="Username"/>
        </div>

        <div class="form-group">
          <label>Password:</label>
          <input type="password" class="form-control" name="password" value="" 
                 placeholder="Password"/>
        </div>

        <div class="checkbox">
            <label>
              <input type="checkbox" name="remember"> Remember Me
            </label>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-success">Log In</button>
          <button type="submit" class="btn btn-default pull-right">
            Forgot Password
          </button>
        </div>

        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
{% endblock %}
