/*******\
| Admin |
\*******/

// Navbar
$navbar-height: 50px;
$navbar-background-color: #383838;
$navbar-text-color: #FFF;
$navbar-link-hover-color: #AAA;

// Navbar Members
$expand-sidebar-icon-size: 20px;
$username-font-size: 16px;

// Sidebar
$sidebar-width: 150px;
$sidebar-button-height: 50px;
$sidebar-icon-size: $expand-sidebar-icon-size;
$sidebar-background-color: $navbar-background-color;
$sidebar-button-color: $sidebar-background-color;
$sidebar-button-hover-color: #282828;
$sidebar-button-border-color: #000;
$sidebar-icon-color: $navbar-text-color;

// Footer
$footer-height: 50px;
$footer-text-color: $navbar-text-color;

/**********************
 *       Global       *
 *********************/

/**********
 * Header *
 **********/
header {
  @extend .full-size;
  position: fixed;
  height: $navbar-height;
  padding: 15px;
  z-index: 1001;
  text-align: center;
  border-bottom: 1px solid $sidebar-button-border-color;
  background-color: $navbar-background-color;
  color: $navbar-text-color;
}

header {
    > a {
      color: $navbar-text-color;
      transition: color 0.4s ease 0s;
    }

    > a:hover, > a:active, > a:focus {
      color: $navbar-link-hover-color;
      transition: color 0.4s ease 0s;
    }
}

.username {
  @extend .float-right;
  font-size: $username-font-size;
}


.expand-sidebar {
  @extend .float-left;
  font-size: $expand-sidebar-icon-size;
}

/********
 * Body *
 ********/
.wrapper {
  @extend .full-size-important;
  padding-top: $navbar-height;
  padding-left: $sidebar-width;
  transition: all 0.4s ease 0s;
}

.wrapper-hidden {
  padding-left: 0;
  transition: all 0.4s ease 0s;
}

main {
  @extend .full-size;
  margin-bottom: -$footer-height;
}

/***********
 * Sidebar *
 ***********/
.sidebar {
  position: fixed;
  top: $navbar-height;
  width: $sidebar-width;
  height: 100%;
  border-right: 1px solid $sidebar-button-border-color;
  z-index: 1000;
  background-color: $sidebar-background-color;
  transition: all 0.4s ease 0s;
}

.sidebar-hidden {
  width: 0;
  border: 0;
  transition: all 0.4s ease 0s;
}

nav {
  ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    text-align: center;

    a {
      > li {
        padding: 5px;
        border: none;
        background-color: none;
        color: $sidebar-icon-color;
      }
    }
  }
}

.sidebar-button {
  width: $sidebar-width;
  height: $sidebar-button-height;
  display: inline-block;
  border-bottom: 1px solid $sidebar-button-border-color;
  transition: all 0.4s ease 0s;

}

.sidebar-button:hover {
  background-color: $sidebar-button-hover-color;
  transition: all 0.4s ease 0s;
}

.sidebar-button-text {
  line-height: $sidebar-button-height - 10;
  vertical-align: middle;
}

.sidebar-icon {
  @extend .float-left;
  padding-left: 10px;
  line-height: $sidebar-button-height - 10;
  vertical-align: middle;
  font-size: $sidebar-icon-size;
}

/**********
 * Footer *
 **********/

footer {
  height: $footer-height;
  padding: 0 10px;
  line-height: $footer-height;
  vertical-align: middle;
  background-color: $sidebar-background-color;
  color: $footer-text-color;
}

/*************************************
 *            Script Edit            *
 *************************************/
#editor {
  @extend .full-size;
  z-index: 999;
}
